@model OnlineWallet.Infrastructure.Dto.UserDto

<!DOCTYPE html>
<html lang="en">
<head>
    <title>User site</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @Model.Email
    @Model.FullName
    @Model.Address
    @Model.PhoneNumber
    @Model.CreatedAt
</body>
</html>
