@{
    ViewBag.Title = "User's Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @ViewBag.Title
    @ViewData["email"]
    @ViewData["fullName"]
    @ViewData["number"]
</body>
</html>
